<%# checks if suburb has been searched %>
<% if @term.present? %>
    <h1><%= @suburb.capitalize %> Jobs</h1>
<% else %>
    <h1>Explore Jobs</h1>
<% end %>

<%# checks if @jobs is empty or the search returned 0 results for that suburb %>
<% if @jobs.empty? %>
    <p>There are currently no open or completed jobs in this suburb.</p>
    <%= link_to 'Back', :back, class: "btn btn-outline-dark btn-md" %><br>
<% else %>
    <%# loops through each job in @jobs %>
    <% @jobs.each do |job| %>
        <%# displays job card partial %>
        <%= render "shared/public_card", job: job %>
    <% end %>
<% end %>