<%# experimenting with user review style %>
        <span class="heading">User Rating</span>
        <span class="fa-solid fa-hammer checked"></span>
        <span class="fa-solid fa-hammer checked"></span>
        <span class="fa-solid fa-hammer checked"></span>
        <span class="fa-solid fa-hammer checked"></span>
        <span class="fa-solid fa-hammer "></span>
        <p><%= @average_rating %> average rating based on <%= @ratings.count %> reviews.</p>

 
       